<!-- This pattern planned to be used as an administration tool during upcoming development iterations.-->
<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>List: Users</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
    <link th:href="@{/stylesheet.css}" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <div>
        <h1>
            <img th:src="@{/logo_nobg.png}" class="imgnavbar">
            List of users for testing purposes.
        </h1>
    </div>
    <div sec:authorize="isAuthenticated()">
        Welcome <span sec:authentication="name">Email</span>
        <br>
        Role: <span sec:authentication="principal.authorities">Roles</span>
        <br>
    </div>

    <form th:action="@{/home}" method="GET">
        <input type="submit" value="Home">
    </form>
    <br>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Sign Out">
    </form>
    <br>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userDto : ${usersList}">
                <td th:text="${userDto.userId}"></td>
                <td th:text="${userDto.userEmail}"></td>
                <td th:text="${userDto.userName}"></td>
                <td th:text="${userDto.userSurname}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>