<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>List: Users</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
    <link th:href = "@{/stylesheet.css}" rel="stylesheet">
</head>
<body>
    <div>
        <header>
            <a onclick th:href="@{/api/user/home}"><img th:src="@{/logo_nobg.png}" class="imgnavbar" ></a>
            <h1 class="namenavbar"></h1>
            <ul id="navbar">
                <li>Welcome <span sec:authentication="name">Email</span></li>
                <br>
                <li>Role: <span sec:authentication="principal.authorities">Roles</span></li>
                <li>
                    <div sec:authorize="isAuthenticated()">
                        <a href="javascript: document.logoutForm.submit()">Sign out</a>
                        <form name="logoutForm" th:action="@{/api/user/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out" />
                        </form>
                    </div>
                </li>
            </ul>
        </header>
    </div>

    <hr size="3px" color="#3c4d5d">

    <div сlass="container">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Surname</th>
<!--                <th>Role</th>-->
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="userDto : ${userList}">
                    <td th:text="${userDto.userId}"></td>
                    <td th:text="${userDto.userEmail}"></td>
                    <td th:text="${userDto.userName}"></td>
                    <td th:text="${userDto.userSurname}"></td>
    <!--                <td th:text="${userDto.userRole}"></td>-->
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <form action="#" th:action="@{/api/user/updateuserform}" method="POST">
                            <input type="hidden" name="userId" th:value="${userDto.userId}">
                            <button type="submit" class="btn default btn-sm mb-3">Update</button>
                        </form>
                        <div sec:authorize="hasAuthority('ADMIN')">
                            <form action="#" th:action="@{/api/user/deleteuser}" method="POST">
                                <input type="hidden" name="userId" th:value="${userDto.userId}">
                                <button type="submit" class="btn default btn-sm mb-3"
                                        onclick="if (!(confirm('Are you sure you want to delete this User?'))) return false">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>