<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Form: Update User</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
    <link th:href = "@{/stylesheet.css}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h3>Update User</h3>
        <hr>

        <p class="h4 mb-4">Update User</p>
        <form action="#" th:action="@{/api/user/updateuser}"
                          th:object="${userDto}"
                          method="POST">
            <!-- Hidden form field to handle updates-->
            <input type="hidden" th:field="*{userId}">

            <input type="text" th:field="*{userEmail}"
                   class="form-control mb-4 col-4"
                   placeholder="Email" required>
            <input type="text" th:field="*{userName}"
                   class="form-control mb-4 col-4"
                   placeholder="Name" required>
            <input type="text" th:field="*{userSurname}"
                   class="form-control mb-4 col-4"
                   placeholder="Surname" required>
            <button type="submit" class="btn default btn-lg mb-3"
                    onclick="if (!(confirm('Are you sure you want to save changes for this User?'))) return false">Update</button>
            <hr>
            <button class="btn default btn-lg mb-3"
                    onclick="history.back()">Back</button>
        </form>
    </div>
</body>

</html>