<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
    <link th:href = "@{/stylesheet.css}" rel="stylesheet">
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>
                <img th:src="@{/logo_nobg.png}" class="imgnavbar">
            </h1>
        </div>
        <div>
            <h3><a th:href="@{/list-users}" class="btn btn-lg mb-3">List Users</a></h3>
            <h3><a th:href="@{/register}" class="btn btn-lg mb-3">Register</a></h3>
            <h3><a th:href="@{/login}" class="btn btn-lg mb-3">Login</a></h3>
            <br>
            <h3><a th:href="@{/recipelist}" class="btn btn-lg mb-3">Proceed to Recipe List</a></h3>
            <h3><a th:href="@{/ingredientlist}" class="btn btn-lg mb-3">Proceed to Ingredient List</a></h3>
        </div>

    </div>
</body>
</html>